<%= button_to 'Добавить тип вишлиста',  wishlist_types_new_path, data: { turbo_frame: 'modal' }, method: :get, class: 'btn btn-outline-dark add_gift_icon' %>

<% @types.each do |type| %>
  <div class='card cartocka' style='width: 25em;margin: 10px; margin-left: 20%;'>
    <div class="card-body">
      <div  style='display:inline-block;  vertical-align: middle;width:70%;'>
        <h5 class="card-title"> <%=type.name%></h5>
      </div>
      <div  style= 'display:inline-block;  vertical-align: middle;' >
        <%= button_to wishlist_type_path(type.id), method: :delete, class: 'btn btn-danger btn-circle btn-sm' do %>
          <%= image_tag 'icons8-trash-can.svg', style: 'width:40px;height:40px;' %>
        <% end%>              
      </div>
    </div>
  </div>
<% end %>
