<h1> <%= t('mailer.forgot_password.hello') %>, <%= @user.f_name %>! </h1>

<p>
  <%= t('mailer.forgot_password.link') %>
  <%= link_to t('mailer.forgot_password.reset'), password_new_password_url(id: @user.reset_password_token) %>
</p>
