@import "bootstrap";
* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
    display: flex;
	flex-direction: column;
    font-size: 20px;
}

.content {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

#flash {
    width: 50%;
    margin: auto;
}

.div-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85%;
    width: 100%;
}

.my-form {
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
    border: solid #e3f2fd 5px;
}

.animation-div {
    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: show 2s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0.25s; /* Задержка перед началом */
}

@keyframes show{
    0%{
    opacity:0;
    }
    100% {
    opacity:1;
    }
}

.form-group {
    margin: 5px;
}

li {
    list-style-type: none; /* Убираем маркеры */
    margin: 10px;
   }

.links {
    position: absolute;
    right: 0;
    border-left: solid black 5px;
}

#edit, #div-info {
    height: 100%;
    font-size: 20px;  
}


#log_btn {
    width: 50%;
}

.users {
    margin-left: 20%; 
    margin-top: 1%;
    margin-bottom: 1%;
}

#search-line {
    position: fixed; /* Фиксированное положение */
    right: 40px; /* Расстояние от правого края окна браузера */
    top: 20%; /* Расстояние сверху */
    padding: 10px; /* Поля вокруг текста */      
}

.cartocka {
    background-color: #e3f2fd;
}